<%- include('partials/header') %>

<div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full mx-auto space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Revise an Event
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <div class="rounded-md shadow-sm space-y-4">
        <div>
          <label
            for="eventId"
            class="block text-sm font-medium text-gray-700 required"
            >Event ID</label
          >
          <input
            id="eventId"
            name="eventId"
            value="<%= event.eventId %>"
            readonly
            type="text"
            required
            class="mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="imgUrl"
            class="block text-sm font-medium text-gray-700 required"
            >Image URL</label
          >
          <input
            id="imgUrl"
            name="imgUrl"
            value="<%= event.imgUrl %>"
            type="url"
            required
            class="mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="topic"
            class="block text-sm font-medium text-gray-700 required"
            >Topic</label
          >
          <input
            id="topic"
            name="topic"
            value="<%= event.topic %>"
            type="text"
            required
            class="mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="eventDate"
            class="block text-sm font-medium text-gray-700 required"
            >Date</label
          >
          <input
            id="eventDate"
            name="eventDate"
            value="<%= event.eventDate %>"
            type="date"
            required
            class="mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="eventDate"
            class="block text-sm font-medium text-gray-700 required"
            >Time</label
          >
          <input
            id="eventTime"
            name="eventTime"
            value="<%= event.eventTime %>"
            type="text"
            required
            class="mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="eventDate"
            class="block text-sm font-medium text-gray-700 required"
            >Location</label
          >
          <input
            id="eventLoction"
            name="eventLocation"
            value="<%= event.eventLocation %>"
            type="text"
            required
            class="mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
        <div>
          <label
            for="shortDesc"
            class="block text-sm font-medium text-gray-700 required"
            >Short Description</label
          >
          <textarea
            id="shortDesc"
            name="shortDesc"
            class="mt-1 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          >
 <%= event.shortDesc %> </textarea
          >
        </div>
        <div>
          <label
            for="fullDesc"
            class="block text-sm font-medium text-gray-700 required"
            >Full Description</label
          >
          <textarea
            id="fullDesc"
            name="fullDesc"
            rows="15"
            class="mt-1 appearance-none rounded-md resize-y relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          >
 <%= event.fullDesc %>
          </textarea>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
